*,
*::before,
*::after {
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

.section{
    padding: 96px 0px;
}

@media (min-width: 768px){
    .container{
        max-width: 768px;
        padding: 0 16px;
    }

}

@media (min-width: 1158px){
    .container{
        max-width: 1158px;
        padding: 0 15px;
    }

    .section {
        padding: 120px 0;
    }
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (min-width: 1158px){
    body {
        font-weight: 400;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(50%);
    overflow: hidden;
}