.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    
    line-height: 1.11111;
    text-align: center;
    color: #2E2F42;
}

.portfolio-items{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}

.portfolio-disc{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.card-cont{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}

.portfolio-item{
    width: 288px;
    transition: box-shadow 250ms ease-in-out;
}

.portfolio-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio .container{
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 0px 16px;
}

.portfolio-item img {
    display: block; 
}

.overlay{
    display: flex;
    align-items: flex-start;
    justify-self: flex-start;
    top: 0px;

    position: absolute;
    background-color: #4D5AE5;
    color:#F4F4FD;
    padding: 40px 32px;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
}

.portfolio-item:hover .overlay{
    transform: translateY(0);
}

.img-wrapper{
    position: relative;
    overflow: hidden;
}

@media(min-width:768px){
    .portfolio-list{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item{
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media(min-width: 1158px){
    .portfolio-list{
        row-gap: 48px;
    }

    .portfolio-item{
        flex-basis: calc((100% - 72px) / 3);
    }
}